In [8]:
import pandas as pd

# 檔案路徑 (File Path)
file_path = r"C:\users\user\Downloads\world.csv"  # 注意：使用原始字串 (raw string) r'' 避免反斜線問題

# 匯入 CSV 檔案 (Import CSV File)

In [9]:
import pandas as pd

df = pd.read_csv('world.csv')
df.head()

,ID,iso_code,洲名,國家,日期,總確診數,新增確診數,七天移動平均新增確診數,總死亡數,新增死亡數,...,七天移動平均疫苗新增接種劑數,每百人接種疫苗劑數,每百人接種疫苗人數,疫情控管指數,總人口數,中位數年紀,70歲以上人口比例,平均壽命,解除隔離數,解封指數
0,1,AFG,亞洲,阿富汗,2020-02-24,5,5,0.0,0,0,...,0.0,0.0,0.0,8.33,39835428.0,18.6,1.337,64.83,0.0,99999.0
1,2,AFG,亞洲,阿富汗,2020-02-25,5,0,0.0,0,0,...,0.0,0.0,0.0,8.33,39835428.0,18.6,1.337,64.83,0.0,99999.0
2,3,AFG,亞洲,阿富汗,2020-02-26,5,0,0.0,0,0,...,0.0,0.0,0.0,8.33,39835428.0,18.6,1.337,64.83,0.0,99999.0
3,4,AFG,亞洲,阿富汗,2020-02-27,5,0,0.0,0,0,...,0.0,0.0,0.0,8.33,39835428.0,18.6,1.337,64.83,0.0,99999.0
4,5,AFG,亞洲,阿富汗,2020-02-28,5,0,0.0,0,0,...,0.0,0.0,0.0,8.33,39835428.0,18.6,1.337,64.83,0.0,99999.0

In [10]:
df.tail()

,ID,iso_code,洲名,國家,日期,總確診數,新增確診數,七天移動平均新增確診數,總死亡數,新增死亡數,...,七天移動平均疫苗新增接種劑數,每百人接種疫苗劑數,每百人接種疫苗人數,疫情控管指數,總人口數,中位數年紀,70歲以上人口比例,平均壽命,解除隔離數,解封指數
106208,106209,MRT,非洲,茅利塔尼亞伊斯蘭共和國,2020-08-05,6444,26,24.429,157,0,...,0.0,0.0,0.0,33.33,4775110.0,20.3,1.792,64.92,5291.0,0.25
106209,106210,MRT,非洲,茅利塔尼亞伊斯蘭共和國,2020-08-06,6444,0,21.286,157,0,...,0.0,0.0,0.0,33.33,4775110.0,20.3,1.792,64.92,5291.0,0.25
106210,106211,MRT,非洲,茅利塔尼亞伊斯蘭共和國,2020-08-07,6498,54,26.857,157,0,...,0.0,0.0,0.0,33.33,4775110.0,20.3,1.792,64.92,5443.0,0.22
106211,106212,MRT,非洲,茅利塔尼亞伊斯蘭共和國,2020-08-08,6510,12,27.286,157,0,...,0.0,0.0,0.0,33.33,4775110.0,20.3,1.792,64.92,5527.0,0.21
106212,106213,MRT,非洲,茅利塔尼亞伊斯蘭共和國,2020-08-09,6523,13,28.571,157,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
df1=df[['洲名','國家','日期','總確診數','總人口數','解封指數']]
df1.head()

   洲名   國家          日期  總確診數        總人口數     解封指數
0  亞洲  阿富汗  2020-02-24     5  39835428.0  99999.0
1  亞洲  阿富汗  2020-02-25     5  39835428.0  99999.0
2  亞洲  阿富汗  2020-02-26     5  39835428.0  99999.0
3  亞洲  阿富汗  2020-02-27     5  39835428.0  99999.0
4  亞洲  阿富汗  2020-02-28     5  39835428.0  99999.0

In [33]:
###選取列
#iloc[],loc[]

In [47]:
#布林遮罩  #mask
countury_mask=df1['國家'] =='日本'
df1=[countury_mask]

In [48]:
taiwan_mask = (df1['國家'] == '台灣') & (df1['新增確診數'] >= 100000)
df1[taiwan_mask]

TypeError: list indices must be integers or slices, not str

In [40]:
df1 = pd.DataFrame(data)
# ----------------------------------------------------------

# --- Define Your Filter/Mask ---
# Example: Filter for rows where '國家' is '台灣' AND '新增確診數' is >= 100000
taiwan_mask = (df1['國家'] == '台灣') & (df1['新增確診數'] >= 100000)

# --- Apply the Filter and Keep All Columns ---
df_filtered = df1[taiwan_mask]  # This is the core operation

# --- Print the Result (Optional) ---
print(df_filtered)

   國家   新增確診數
0  台灣  150000
4  台灣  120000

In [38]:
# 布林遮罩 (Boolean Mask)
taiwan_mask = (df1['國家'] == '台灣') & (df1['新增確診數'] >= 100000)
df1[taiwan_mask]

   國家   新增確診數
0  台灣  150000
4  台灣  120000

In [17]:
import pandas as pd
df1= pd.DataFrame(data)
# The corrected code
taiwan_mask = (df1['國家'] == '台灣') & (df1['總確診數'] >= 100000)
df_taiwan = df1[taiwan_mask]
# Print the result
print(df_taiwan)

   國家    總確診數
0  台灣  150000
4  台灣  120000

In [41]:
df1.query('國家=="台灣" and 新增確診數>=100000')

   國家   新增確診數
0  台灣  150000
4  台灣  120000

In [39]:
df1 = pd.DataFrame(data)
# ----------------------------------------------------------

# --- Define Your Filter/Mask ---
# Example: Filter for rows where '國家' is '台灣' AND '新增確診數' is >= 100000
taiwan_mask = (df1['國家'] == '台灣') & (df1['新增確診數'] >= 100000)

# --- Apply the Filter and Keep All Columns ---
df_filtered = df1[taiwan_mask]  # This is the core operation

# --- Print the Result (Optional) ---
print(df_filtered)

   國家   新增確診數
0  台灣  150000
4  台灣  120000

In [15]:
import pandas as pd

# 建立 DataFrame (Let's create the DataFrame)
data = {'姓名': ['小明', '小美', '大雄', '靜香', '胖虎'],
        '年齡': [25, 30, 25, 35, 40],
        '城市': ['台北', '高雄', '台中', '台北', '高雄']}
df = pd.DataFrame(data)

# 建立布林條件 (Create a Boolean condition)
condition = df['城市'] == '台北'

# 使用布林索引篩選資料 (Filter the DataFrame using Boolean indexing)
taipei_data = df[condition]

# 顯示篩選結果 (Display the filtered data)
print(taipei_data)

   姓名  年齡  城市
0  小明  25  台北
3  靜香  35  台北