## 步驟規劃

1. 修改水果清單
2. 更新價格字典
3. 保持原有功能邏輯

In [ ]:
# 建立水果及其價格的資料
fruits_prices = {
    '香蕉': 20,
    '櫻桃': 150,
    '水蜜桃': 80
}

# 1. 基本串列遍歷 - 顯示所有水果及價格
for fruit in fruits_prices:
    print(f'{fruit}: ${fruits_prices[fruit]}')

# 2. 使用索引遍歷 - 列出編號的水果價目表
fruits_list = list(fruits_prices.keys())
for i in range(len(fruits_list)):
    fruit = fruits_list[i]
    price = fruits_prices[fruit]
    print(f'編號 {i+1}: {fruit} - ${price}')

# 3. 使用 enumerate() - 同時顯示編號、水果名稱和價格
for index, (fruit, price) in enumerate(fruits_prices.items(), 1):
    print(f'編號 {index}: {fruit} - ${price}')

# 4. 查詢特定水果價格的功能
def check_price(fruit_name):
    if fruit_name in fruits_prices:
        return f'{fruit_name}的價格是 ${fruits_prices[fruit_name]}'
    else:
        return f'抱歉，目前沒有{fruit_name}的價格資訊'

# 使用範例
fruit_to_check = input('請輸入想查詢的水果名稱：')
print(check_price(fruit_to_check))

In [42]:
Python 字典操作方法規劃
建立與存取
修改與更新
刪除操作
其他實用方法

# 1. 建立字典
person = {
    'name': '邱瓊瑢',
    'age': '40',
    'city': 'Taipei'
}

# 2. 基本存取操作
print(person['name'])          # 直接存取
print(person.get('age'))      # 使用get()方法存取
print(person.get('email', '未設定'))  # 帶預設值的get()

# 3. 修改與更新
person['age'] = '41'          # 修改現有值
person['email'] = 'test@example.com'  # 新增項目
person.update({'phone': '123', 'job': 'engineer'})  # 批次更新

# 4. 刪除操作
del person['city']            # 刪除特定鍵值對
removed_value = person.pop('age')  # 刪除並返回值
last_item = person.popitem()  # 刪除最後一個項目
person.clear()                # 清空字典

# 5. 實用方法
keys = person.keys()          # 取得所有鍵
values = person.values()      # 取得所有值
items = person.items()        # 取得所有鍵值對
new_dict = person.copy()      # 複製字典
is_exist = 'name' in person   # 檢查鍵是否存在

# 新增台灣城市字典
taiwan_cities = {
    'Taipei': '台北',
    'New Taipei': '新北',
    'Taichung': '台中',
    'Tainan': '台南',
    'Kaohsiung': '高雄',
    'Keelung': '基隆',
    'Hsinchu': '新竹',
    'Hualien': '花蓮',
    'Yilan': '宜蘭',
    'Chiayi': '嘉義'
}
print(taiwan_cities)

SyntaxError: invalid syntax (2074857220.py, line 1)

In [38]:
#dict實體
p1={
    'name':'Agathe',
    'age':'40',
    'city':'Taipei'
    }
p1

{'name': 'Agathe', 'age': '40', 'city': 'Taipei'}

In [31]:
print(p1['name'])
print(p1.get('age'))
print(p1.get('email', 'agachiu2002@gmail.com'))  # 帶預設值的get()

邱瓊瑢
40
agachiu2002@gmail.com

In [40]:
# 3. 修改與更新# 3. 修改與更新
p1['age'] = '41'          # 修改現有值
p1['email'] = 'aga@gmail.com'  # 新增項目
p1.update({'phone': '123', 'job': 'PM&PR'})  # 批次更新
print(p1)
print(p1.items())  # 輸出所有鍵值對

{'name': 'Agathe', 'age': '41', 'city': 'Taipei', 'email': 'aga@gmail.com', 'phone': '123', 'job': 'PM&PR'}
dict_items([('name', 'Agathe'), ('age', '41'), ('city', 'Taipei'), ('email', 'aga@gmail.com'), ('phone', '123'), ('job', 'PM&PR')])

In [41]:
使用 for in 迴圈處理串列的步驟規劃
直接遍歷串列元素
使用索引遍歷
同時取得索引和值
處理巢狀串列

# 1. 基本串列遍歷
fruits = ['蘋果', '香蕉', '橘子']
for fruit in fruits:
    print(fruit)

# 2. 使用索引遍歷
for i in range(len(fruits)):
    print(f'第 {i+1} 個水果是: {fruits[i]}')

# 3. 使用 enumerate() 同時取得索引和值
for index, fruit in enumerate(fruits):
    print(f'索引 {index}: {fruit}')

# 4. 巢狀串列遍歷
nested_list = [
    ['小明', 85],
    ['小華', 90],
    ['小李', 95]
]
for name, score in nested_list:
    print(f'{name} 的分數是 {score}')

# 5. 條件式遍歷
scores = [60, 85, 90, 75, 95]
for score in scores:
    if score >= 80:
        print(f'及格分數: {score}')

SyntaxError: invalid syntax (978258105.py, line 1)

In [43]:
小括號在元組（Tuple）中的意義
作用： 在 Python 中，小括號可以用於創建元組（不可變的序列）。

示例：

python
複製
編輯
my_tuple = (1, 2, 3)
print(my_tuple)  # 輸出: (1, 2, 3)

SyntaxError: invalid character '（' (U+FF08) (4111444150.py, line 1)

In [53]:
#練習
fruits = ['香蕉', '櫻桃','水蜜桃']
for fruit in fruits:
    print(fruit)

香蕉
櫻桃
水蜜桃

In [55]:
for i in range(len(fruits)):
    print(f'第 {i+1} 個水果是: {fruits[i]}')

第 1 個水果是: 香蕉
第 2 個水果是: 櫻桃
第 3 個水果是: 水蜜桃

In [56]:
# 建立水果及其價格的資料
fruits_prices = {
    '香蕉': 20,
    '櫻桃': 150,
    '水蜜桃': 80
}

# 1. 基本串列遍歷 - 顯示所有水果及價格
for fruit in fruits_prices:
    print(f'{fruit}: ${fruits_prices[fruit]}')

香蕉: $20
櫻桃: $150
水蜜桃: $80

## 步驟規劃

1. 修改水果清單
2. 更新價格字典
3. 保持原有功能邏輯

In [67]:
# 建立水果及其價格的資料
fruits_prices = {
    '香蕉': 20,
    '櫻桃': 150,
    '水蜜桃': 80
}

# 1. 基本串列遍歷 - 顯示所有水果及價格
for fruit in fruits_prices:
    print(f'{fruit}: ${fruits_prices[fruit]}')

# 2. 使用索引遍歷 - 列出編號的水果價目表
fruits_list = list(fruits_prices.keys())
for i in range(len(fruits_list)):
    fruit = fruits_list[i]
    price = fruits_prices[fruit]
    print(f'編號 {i+1}: {fruit} - ${price}')

# 3. 使用 enumerate() - 同時顯示編號、水果名稱和價格
for index, (fruit, price) in enumerate(fruits_prices.items(), 1):
    print(f'編號 {index}: {fruit} - ${price}')

# 4. 查詢特定水果價格的功能
def check_price(fruit_name):
    if fruit_name in fruits_prices:
        return f'{fruit_name}的價格是 ${fruits_prices[fruit_name]}'
    else:
        return f'抱歉，目前沒有{fruit_name}的價格資訊'

# 使用範例
fruit_to_check = input('請輸入想查詢的水果名稱：')
print(check_price(fruit_to_check))

香蕉: $20
櫻桃: $150
水蜜桃: $80
編號 1: 香蕉 - $20
編號 2: 櫻桃 - $150
編號 3: 水蜜桃 - $80
編號 1: 香蕉 - $20
編號 2: 櫻桃 - $150
編號 3: 水蜜桃 - $80
抱歉，目前沒有的價格資訊

In [ ]:
taiwan_cities = {
    'new_taipei': {
        'name': '新北市',
        'population': 4008113,
        'area': 2052.57
    },
    'taipei': {
        'name': '台北市',
        'population': 2524393,
        'area': 271.80
    },
    'taichung': {
        'name': '台中市',
        'population': 2813490,
        'area': 2214.90
    },
    'kaohsiung': {
        'name': '高雄市',
        'population': 2773533,
        'area': 2951.85
    },
    'taoyuan': {
        'name': '桃園市',
        'population': 2268807,
        'area': 1220.95
    },
    'tainan': {
        'name': '台南市',
        'population': 1874917,
        'area': 2191.65
    }
}

# 使用範例
for city_id, info in taiwan_cities.items():
    print(f"{info['name']}:")
    print(f"人口數: {info['population']:,}人")
    print(f"面積: {info['area']}平方公里")
    print('-' * 30)

In [68]:
cities = {
    'Taipei': '台北',
    'New Taipei': '新北市',
    'Taoyuan': '桃園',
    'Taichung': '台中',
    'Tainan': '台南',
    'Kaohsiung': '高雄',
    'Keelung': '基隆',
    'Hsinchu': '新竹',
    'Chiayi': '嘉義',
    'Hualien': '花蓮'
}
for key, value in cities.items():
    print(f"{key}: {value}")

Taipei: 台北
New Taipei: 新北市
Taoyuan: 桃園
Taichung: 台中
Tainan: 台南
Kaohsiung: 高雄
Keelung: 基隆
Hsinchu: 新竹
Chiayi: 嘉義
Hualien: 花蓮

In [69]:
import random

# Function to generate a random score between 60 and 100
def generate_score():
    return random.randint(60, 100)

# List to store the students
students = []

# Generate 50 students
for i in range(1, 51):
    student = {
        'name': f'Student{i}',
        'chinese': generate_score(),
        'english': generate_score(),
        'math': generate_score(),
        'history': generate_score(),
        'health': generate_score()
    }
    students.append(student)

# Print the list of students
for student in students:
    print(student)

{'name': 'Student1', 'chinese': 89, 'english': 60, 'math': 69, 'history': 76, 'health': 66}
{'name': 'Student2', 'chinese': 86, 'english': 93, 'math': 96, 'history': 95, 'health': 71}
{'name': 'Student3', 'chinese': 97, 'english': 92, 'math': 97, 'history': 94, 'health': 67}
{'name': 'Student4', 'chinese': 70, 'english': 72, 'math': 73, 'history': 73, 'health': 67}
{'name': 'Student5', 'chinese': 63, 'english': 79, 'math': 67, 'history': 62, 'health': 60}
{'name': 'Student6', 'chinese': 71, 'english': 65, 'math': 62, 'history': 70, 'health': 73}
{'name': 'Student7', 'chinese': 95, 'english': 65, 'math': 88, 'history': 87, 'health': 74}
{'name': 'Student8', 'chinese': 75, 'english': 75, 'math': 82, 'history': 87, 'health': 72}
{'name': 'Student9', 'chinese': 72, 'english': 73, 'math': 70, 'history': 71, 'health': 88}
{'name': 'Student10', 'chinese': 85, 'english': 63, 'math': 96, 'history': 89, 'health': 85}
{'name': 'Student11', 'chinese': 98, 'english': 65, 'math': 60, 'history': 61, 'health': 99}
{'name': 'Student12', 'chinese': 80, 'english': 84, 'math': 90, 'history': 98, 'health': 72}
{'name': 'Student13', 'chinese': 88, 'english': 85, 'math': 75, 'history': 79, 'health': 66}
{'name': 'Student14', 'chinese': 96, 'english': 73, 'math': 91, 'history': 80, 'health': 98}
{'name': 'Student15', 'chinese': 86, 'english': 76, 'math': 61, 'history': 60, 'health': 95}
{'name': 'Student16', 'chinese': 85, 'english': 93, 'math': 90, 'history': 97, 'health': 95}
{'name': 'Student17', 'chinese': 66, 'english': 64, 'math': 85, 'history': 97, 'health': 91}
{'name': 'Student18', 'chinese': 69, 'english': 98, 'math': 85, 'history': 74, 'health': 81}
{'name': 'Student19', 'chinese': 80, 'english': 96, 'math': 77, 'history': 73, 'health': 98}
{'name': 'Student20', 'chinese': 68, 'english': 73, 'math': 77, 'history': 71, 'health': 97}
{'name': 'Student21', 'chinese': 83, 'english': 95, 'math': 85, 'history': 87, 'health': 70}
{'name': 'Student22', 'chinese': 75, 'english': 60, 'math': 96, 'history': 80, 'health': 89}
{'name': 'Student23', 'chinese': 72, 'english': 78, 'math': 73, 'history': 60, 'health': 93}
{'name': 'Student24', 'chinese': 88, 'english': 99, 'math': 90, 'history': 75, 'health': 76}
{'name': 'Student25', 'chinese': 67, 'english': 63, 'math': 74, 'history': 85, 'health': 73}
{'name': 'Student26', 'chinese': 61, 'english': 64, 'math': 92, 'history': 90, 'health': 69}
{'name': 'Student27', 'chinese': 90, 'english': 75, 'math': 73, 'history': 73, 'health': 94}
{'name': 'Student28', 'chinese': 70, 'english': 69, 'math': 100, 'history': 97, 'health': 65}
{'name': 'Student29', 'chinese': 71, 'english': 96, 'math': 95, 'history': 91, 'health': 87}
{'name': 'Student30', 'chinese': 67, 'english': 86, 'math': 78, 'history': 89, 'health': 84}
{'name': 'Student31', 'chinese': 99, 'english': 74, 'math': 91, 'history': 73, 'health': 60}
{'name': 'Student32', 'chinese': 82, 'english': 64, 'math': 78, 'history': 84, 'health': 83}
{'name': 'Student33', 'chinese': 66, 'english': 81, 'math': 88, 'history': 92, 'health': 87}
{'name': 'Student34', 'chinese': 65, 'english': 88, 'math': 100, 'history': 77, 'health': 93}
{'name': 'Student35', 'chinese': 64, 'english': 79, 'math': 71, 'history': 83, 'health': 70}
{'name': 'Student36', 'chinese': 96, 'english': 76, 'math': 62, 'history': 94, 'health': 71}
{'name': 'Student37', 'chinese': 85, 'english': 80, 'math': 65, 'history': 99, 'health': 86}
{'name': 'Student38', 'chinese': 64, 'english': 95, 'math': 74, 'history': 81, 'health': 92}
{'name': 'Student39', 'chinese': 100, 'english': 88, 'math': 78, 'history': 77, 'health': 64}
{'name': 'Student40', 'chinese': 82, 'english': 73, 'math': 63, 'history': 71, 'health': 78}
{'name': 'Student41', 'chinese': 62, 'english': 78, 'math': 75, 'history': 95, 'health': 70}
{'name': 'Student42', 'chinese': 87, 'english': 83, 'math': 87, 'history': 96, 'health': 74}
{'name': 'Student43', 'chinese': 64, 'english': 95, 'math': 84, 'history': 66, 'health': 90}
{'name': 'Student44', 'chinese': 95, 'english': 74, 'math': 81, 'history': 79, 'health': 100}
{'name': 'Student45', 'chinese': 92, 'english': 61, 'math': 79, 'history': 81, 'health': 90}
{'name': 'Student46', 'chinese': 77, 'english': 77, 'math': 80, 'history': 88, 'health': 61}
{'name': 'Student47', 'chinese': 65, 'english': 64, 'math': 91, 'history': 94, 'health': 85}
{'name': 'Student48', 'chinese': 99, 'english': 83, 'math': 80, 'history': 73, 'health': 88}
{'name': 'Student49', 'chinese': 75, 'english': 98, 'math': 93, 'history': 97, 'health': 74}
{'name': 'Student50', 'chinese': 83, 'english': 98, 'math': 66, 'history': 92, 'health': 74}

In [70]:
for i in range(50): #50代表0到49
    print(i) #0到49

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

In [71]:
for i in range(1,51): 
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [74]:
student = []
for i in range (1,51):
    student.append(
    { #key:value
     'name':'XXX',
     'chinese':50,
     'english':50,
     'math':50,
     'history':50,
     'health':50
    }   
)
students

[{'name': 'Student1',
  'chinese': 89,
  'english': 60,
  'math': 69,
  'history': 76,
  'health': 66},
 {'name': 'Student2',
  'chinese': 86,
  'english': 93,
  'math': 96,
  'history': 95,
  'health': 71},
 {'name': 'Student3',
  'chinese': 97,
  'english': 92,
  'math': 97,
  'history': 94,
  'health': 67},
 {'name': 'Student4',
  'chinese': 70,
  'english': 72,
  'math': 73,
  'history': 73,
  'health': 67},
 {'name': 'Student5',
  'chinese': 63,
  'english': 79,
  'math': 67,
  'history': 62,
  'health': 60},
 {'name': 'Student6',
  'chinese': 71,
  'english': 65,
  'math': 62,
  'history': 70,
  'health': 73},
 {'name': 'Student7',
  'chinese': 95,
  'english': 65,
  'math': 88,
  'history': 87,
  'health': 74},
 {'name': 'Student8',
  'chinese': 75,
  'english': 75,
  'math': 82,
  'history': 87,
  'health': 72},
 {'name': 'Student9',
  'chinese': 72,
  'english': 73,
  'math': 70,
  'history': 71,
  'health': 88},
 {'name': 'Student10',
  'chinese': 85,
  'english': 63,
  'math': 96,
  'history': 89,
  'health': 85},
 {'name': 'Student11',
  'chinese': 98,
  'english': 65,
  'math': 60,
  'history': 61,
  'health': 99},
 {'name': 'Student12',
  'chinese': 80,
  'english': 84,
  'math': 90,
  'history': 98,
  'health': 72},
 {'name': 'Student13',
  'chinese': 88,
  'english': 85,
  'math': 75,
  'history': 79,
  'health': 66},
 {'name': 'Student14',
  'chinese': 96,
  'english': 73,
  'math': 91,
  'history': 80,
  'health': 98},
 {'name': 'Student15',
  'chinese': 86,
  'english': 76,
  'math': 61,
  'history': 60,
  'health': 95},
 {'name': 'Student16',
  'chinese': 85,
  'english': 93,
  'math': 90,
  'history': 97,
  'health': 95},
 {'name': 'Student17',
  'chinese': 66,
  'english': 64,
  'math': 85,
  'history': 97,
  'health': 91},
 {'name': 'Student18',
  'chinese': 69,
  'english': 98,
  'math': 85,
  'history': 74,
  'health': 81},
 {'name': 'Student19',
  'chinese': 80,
  'english': 96,
  'math': 77,
  'history': 73,
  'health': 98},
 {'name': 'Student20',
  'chinese': 68,
  'english': 73,
  'math': 77,
  'history': 71,
  'health': 97},
 {'name': 'Student21',
  'chinese': 83,
  'english': 95,
  'math': 85,
  'history': 87,
  'health': 70},
 {'name': 'Student22',
  'chinese': 75,
  'english': 60,
  'math': 96,
  'history': 80,
  'health': 89},
 {'name': 'Student23',
  'chinese': 72,
  'english': 78,
  'math': 73,
  'history': 60,
  'health': 93},
 {'name': 'Student24',
  'chinese': 88,
  'english': 99,
  'math': 90,
  'history': 75,
  'health': 76},
 {'name': 'Student25',
  'chinese': 67,
  'english': 63,
  'math': 74,
  'history': 85,
  'health': 73},
 {'name': 'Student26',
  'chinese': 61,
  'english': 64,
  'math': 92,
  'history': 90,
  'health': 69},
 {'name': 'Student27',
  'chinese': 90,
  'english': 75,
  'math': 73,
  'history': 73,
  'health': 94},
 {'name': 'Student28',
  'chinese': 70,
  'english': 69,
  'math': 100,
  'history': 97,
  'health': 65},
 {'name': 'Student29',
  'chinese': 71,
  'english': 96,
  'math': 95,
  'history': 91,
  'health': 87},
 {'name': 'Student30',
  'chinese': 67,
  'english': 86,
  'math': 78,
  'history': 89,
  'health': 84},
 {'name': 'Student31',
  'chinese': 99,
  'english': 74,
  'math': 91,
  'history': 73,
  'health': 60},
 {'name': 'Student32',
  'chinese': 82,
  'english': 64,
  'math': 78,
  'history': 84,
  'health': 83},
 {'name': 'Student33',
  'chinese': 66,
  'english': 81,
  'math': 88,
  'history': 92,
  'health': 87},
 {'name': 'Student34',
  'chinese': 65,
  'english': 88,
  'math': 100,
  'history': 77,
  'health': 93},
 {'name': 'Student35',
  'chinese': 64,
  'english': 79,
  'math': 71,
  'history': 83,
  'health': 70},
 {'name': 'Student36',
  'chinese': 96,
  'english': 76,
  'math': 62,
  'history': 94,
  'health': 71},
 {'name': 'Student37',
  'chinese': 85,
  'english': 80,
  'math': 65,
  'history': 99,
  'health': 86},
 {'name': 'Student38',
  'chinese': 64,
  'english': 95,
  'math': 74,
  'history': 81,
  'health': 92},
 {'name': 'Student39',
  'chinese': 100,
  'english': 88,
  'math': 78,
  'history': 77,
  'health': 64},
 {'name': 'Student40',
  'chinese': 82,
  'english': 73,
  'math': 63,
  'history': 71,
  'health': 78},
 {'name': 'Student41',
  'chinese': 62,
  'english': 78,
  'math': 75,
  'history': 95,
  'health': 70},
 {'name': 'Student42',
  'chinese': 87,
  'english': 83,
  'math': 87,
  'history': 96,
  'health': 74},
 {'name': 'Student43',
  'chinese': 64,
  'english': 95,
  'math': 84,
  'history': 66,
  'health': 90},
 {'name': 'Student44',
  'chinese': 95,
  'english': 74,
  'math': 81,
  'history': 79,
  'health': 100},
 {'name': 'Student45',
  'chinese': 92,
  'english': 61,
  'math': 79,
  'history': 81,
  'health': 90},
 {'name': 'Student46',
  'chinese': 77,
  'english': 77,
  'math': 80,
  'history': 88,
  'health': 61},
 {'name': 'Student47',
  'chinese': 65,
  'english': 64,
  'math': 91,
  'history': 94,
  'health': 85},
 {'name': 'Student48',
  'chinese': 99,
  'english': 83,
  'math': 80,
  'history': 73,
  'health': 88},
 {'name': 'Student49',
  'chinese': 75,
  'english': 98,
  'math': 93,
  'history': 97,
  'health': 74},
 {'name': 'Student50',
  'chinese': 83,
  'english': 98,
  'math': 66,
  'history': 92,
  'health': 74}]

In [75]:
import random
students = []
for i in range(1,51):
    students.append(
        {
            'name':f'student{i}',
            'chinese':random.randint(50,100),
            'english':random.randint(50,100),
            'math':random.randint(50,100),
            'history':random.randint(50,100),
            'health':random.randint(50,100)
        }
    )

students

[{'name': 'student1',
  'chinese': 91,
  'english': 72,
  'math': 67,
  'history': 70,
  'health': 54},
 {'name': 'student2',
  'chinese': 62,
  'english': 94,
  'math': 68,
  'history': 91,
  'health': 93},
 {'name': 'student3',
  'chinese': 61,
  'english': 93,
  'math': 70,
  'history': 76,
  'health': 97},
 {'name': 'student4',
  'chinese': 58,
  'english': 93,
  'math': 61,
  'history': 92,
  'health': 62},
 {'name': 'student5',
  'chinese': 94,
  'english': 90,
  'math': 89,
  'history': 68,
  'health': 87},
 {'name': 'student6',
  'chinese': 53,
  'english': 93,
  'math': 72,
  'history': 67,
  'health': 90},
 {'name': 'student7',
  'chinese': 72,
  'english': 58,
  'math': 69,
  'history': 56,
  'health': 86},
 {'name': 'student8',
  'chinese': 95,
  'english': 91,
  'math': 77,
  'history': 76,
  'health': 79},
 {'name': 'student9',
  'chinese': 76,
  'english': 90,
  'math': 76,
  'history': 59,
  'health': 67},
 {'name': 'student10',
  'chinese': 100,
  'english': 95,
  'math': 69,
  'history': 54,
  'health': 64},
 {'name': 'student11',
  'chinese': 68,
  'english': 51,
  'math': 62,
  'history': 72,
  'health': 51},
 {'name': 'student12',
  'chinese': 69,
  'english': 57,
  'math': 68,
  'history': 84,
  'health': 53},
 {'name': 'student13',
  'chinese': 71,
  'english': 67,
  'math': 72,
  'history': 90,
  'health': 99},
 {'name': 'student14',
  'chinese': 84,
  'english': 95,
  'math': 51,
  'history': 54,
  'health': 69},
 {'name': 'student15',
  'chinese': 89,
  'english': 81,
  'math': 93,
  'history': 98,
  'health': 65},
 {'name': 'student16',
  'chinese': 62,
  'english': 57,
  'math': 53,
  'history': 76,
  'health': 80},
 {'name': 'student17',
  'chinese': 70,
  'english': 55,
  'math': 84,
  'history': 93,
  'health': 89},
 {'name': 'student18',
  'chinese': 95,
  'english': 57,
  'math': 70,
  'history': 69,
  'health': 100},
 {'name': 'student19',
  'chinese': 80,
  'english': 67,
  'math': 51,
  'history': 76,
  'health': 71},
 {'name': 'student20',
  'chinese': 74,
  'english': 69,
  'math': 79,
  'history': 59,
  'health': 82},
 {'name': 'student21',
  'chinese': 67,
  'english': 60,
  'math': 62,
  'history': 52,
  'health': 94},
 {'name': 'student22',
  'chinese': 77,
  'english': 61,
  'math': 96,
  'history': 51,
  'health': 82},
 {'name': 'student23',
  'chinese': 61,
  'english': 53,
  'math': 80,
  'history': 76,
  'health': 75},
 {'name': 'student24',
  'chinese': 88,
  'english': 81,
  'math': 69,
  'history': 71,
  'health': 64},
 {'name': 'student25',
  'chinese': 63,
  'english': 85,
  'math': 59,
  'history': 67,
  'health': 98},
 {'name': 'student26',
  'chinese': 68,
  'english': 78,
  'math': 58,
  'history': 80,
  'health': 68},
 {'name': 'student27',
  'chinese': 61,
  'english': 55,
  'math': 57,
  'history': 90,
  'health': 66},
 {'name': 'student28',
  'chinese': 73,
  'english': 92,
  'math': 80,
  'history': 62,
  'health': 56},
 {'name': 'student29',
  'chinese': 60,
  'english': 84,
  'math': 71,
  'history': 59,
  'health': 89},
 {'name': 'student30',
  'chinese': 77,
  'english': 51,
  'math': 98,
  'history': 100,
  'health': 77},
 {'name': 'student31',
  'chinese': 79,
  'english': 57,
  'math': 86,
  'history': 71,
  'health': 68},
 {'name': 'student32',
  'chinese': 91,
  'english': 87,
  'math': 64,
  'history': 54,
  'health': 59},
 {'name': 'student33',
  'chinese': 88,
  'english': 56,
  'math': 93,
  'history': 54,
  'health': 98},
 {'name': 'student34',
  'chinese': 57,
  'english': 90,
  'math': 75,
  'history': 76,
  'health': 74},
 {'name': 'student35',
  'chinese': 95,
  'english': 65,
  'math': 78,
  'history': 95,
  'health': 86},
 {'name': 'student36',
  'chinese': 50,
  'english': 87,
  'math': 60,
  'history': 80,
  'health': 65},
 {'name': 'student37',
  'chinese': 81,
  'english': 73,
  'math': 52,
  'history': 73,
  'health': 93},
 {'name': 'student38',
  'chinese': 61,
  'english': 80,
  'math': 78,
  'history': 97,
  'health': 50},
 {'name': 'student39',
  'chinese': 66,
  'english': 89,
  'math': 50,
  'history': 69,
  'health': 60},
 {'name': 'student40',
  'chinese': 62,
  'english': 53,
  'math': 73,
  'history': 80,
  'health': 61},
 {'name': 'student41',
  'chinese': 76,
  'english': 58,
  'math': 63,
  'history': 99,
  'health': 89},
 {'name': 'student42',
  'chinese': 76,
  'english': 98,
  'math': 60,
  'history': 62,
  'health': 86},
 {'name': 'student43',
  'chinese': 66,
  'english': 67,
  'math': 85,
  'history': 68,
  'health': 54},
 {'name': 'student44',
  'chinese': 85,
  'english': 56,
  'math': 79,
  'history': 97,
  'health': 97},
 {'name': 'student45',
  'chinese': 97,
  'english': 51,
  'math': 97,
  'history': 53,
  'health': 69},
 {'name': 'student46',
  'chinese': 63,
  'english': 51,
  'math': 85,
  'history': 64,
  'health': 85},
 {'name': 'student47',
  'chinese': 65,
  'english': 59,
  'math': 100,
  'history': 84,
  'health': 86},
 {'name': 'student48',
  'chinese': 88,
  'english': 96,
  'math': 74,
  'history': 63,
  'health': 51},
 {'name': 'student49',
  'chinese': 72,
  'english': 85,
  'math': 78,
  'history': 57,
  'health': 69},
 {'name': 'student50',
  'chinese': 63,
  'english': 76,
  'math': 55,
  'history': 66,
  'health': 57}]

In [76]:
for scores in students:
    print(scores)

{'name': 'student1', 'chinese': 91, 'english': 72, 'math': 67, 'history': 70, 'health': 54}
{'name': 'student2', 'chinese': 62, 'english': 94, 'math': 68, 'history': 91, 'health': 93}
{'name': 'student3', 'chinese': 61, 'english': 93, 'math': 70, 'history': 76, 'health': 97}
{'name': 'student4', 'chinese': 58, 'english': 93, 'math': 61, 'history': 92, 'health': 62}
{'name': 'student5', 'chinese': 94, 'english': 90, 'math': 89, 'history': 68, 'health': 87}
{'name': 'student6', 'chinese': 53, 'english': 93, 'math': 72, 'history': 67, 'health': 90}
{'name': 'student7', 'chinese': 72, 'english': 58, 'math': 69, 'history': 56, 'health': 86}
{'name': 'student8', 'chinese': 95, 'english': 91, 'math': 77, 'history': 76, 'health': 79}
{'name': 'student9', 'chinese': 76, 'english': 90, 'math': 76, 'history': 59, 'health': 67}
{'name': 'student10', 'chinese': 100, 'english': 95, 'math': 69, 'history': 54, 'health': 64}
{'name': 'student11', 'chinese': 68, 'english': 51, 'math': 62, 'history': 72, 'health': 51}
{'name': 'student12', 'chinese': 69, 'english': 57, 'math': 68, 'history': 84, 'health': 53}
{'name': 'student13', 'chinese': 71, 'english': 67, 'math': 72, 'history': 90, 'health': 99}
{'name': 'student14', 'chinese': 84, 'english': 95, 'math': 51, 'history': 54, 'health': 69}
{'name': 'student15', 'chinese': 89, 'english': 81, 'math': 93, 'history': 98, 'health': 65}
{'name': 'student16', 'chinese': 62, 'english': 57, 'math': 53, 'history': 76, 'health': 80}
{'name': 'student17', 'chinese': 70, 'english': 55, 'math': 84, 'history': 93, 'health': 89}
{'name': 'student18', 'chinese': 95, 'english': 57, 'math': 70, 'history': 69, 'health': 100}
{'name': 'student19', 'chinese': 80, 'english': 67, 'math': 51, 'history': 76, 'health': 71}
{'name': 'student20', 'chinese': 74, 'english': 69, 'math': 79, 'history': 59, 'health': 82}
{'name': 'student21', 'chinese': 67, 'english': 60, 'math': 62, 'history': 52, 'health': 94}
{'name': 'student22', 'chinese': 77, 'english': 61, 'math': 96, 'history': 51, 'health': 82}
{'name': 'student23', 'chinese': 61, 'english': 53, 'math': 80, 'history': 76, 'health': 75}
{'name': 'student24', 'chinese': 88, 'english': 81, 'math': 69, 'history': 71, 'health': 64}
{'name': 'student25', 'chinese': 63, 'english': 85, 'math': 59, 'history': 67, 'health': 98}
{'name': 'student26', 'chinese': 68, 'english': 78, 'math': 58, 'history': 80, 'health': 68}
{'name': 'student27', 'chinese': 61, 'english': 55, 'math': 57, 'history': 90, 'health': 66}
{'name': 'student28', 'chinese': 73, 'english': 92, 'math': 80, 'history': 62, 'health': 56}
{'name': 'student29', 'chinese': 60, 'english': 84, 'math': 71, 'history': 59, 'health': 89}
{'name': 'student30', 'chinese': 77, 'english': 51, 'math': 98, 'history': 100, 'health': 77}
{'name': 'student31', 'chinese': 79, 'english': 57, 'math': 86, 'history': 71, 'health': 68}
{'name': 'student32', 'chinese': 91, 'english': 87, 'math': 64, 'history': 54, 'health': 59}
{'name': 'student33', 'chinese': 88, 'english': 56, 'math': 93, 'history': 54, 'health': 98}
{'name': 'student34', 'chinese': 57, 'english': 90, 'math': 75, 'history': 76, 'health': 74}
{'name': 'student35', 'chinese': 95, 'english': 65, 'math': 78, 'history': 95, 'health': 86}
{'name': 'student36', 'chinese': 50, 'english': 87, 'math': 60, 'history': 80, 'health': 65}
{'name': 'student37', 'chinese': 81, 'english': 73, 'math': 52, 'history': 73, 'health': 93}
{'name': 'student38', 'chinese': 61, 'english': 80, 'math': 78, 'history': 97, 'health': 50}
{'name': 'student39', 'chinese': 66, 'english': 89, 'math': 50, 'history': 69, 'health': 60}
{'name': 'student40', 'chinese': 62, 'english': 53, 'math': 73, 'history': 80, 'health': 61}
{'name': 'student41', 'chinese': 76, 'english': 58, 'math': 63, 'history': 99, 'health': 89}
{'name': 'student42', 'chinese': 76, 'english': 98, 'math': 60, 'history': 62, 'health': 86}
{'name': 'student43', 'chinese': 66, 'english': 67, 'math': 85, 'history': 68, 'health': 54}
{'name': 'student44', 'chinese': 85, 'english': 56, 'math': 79, 'history': 97, 'health': 97}
{'name': 'student45', 'chinese': 97, 'english': 51, 'math': 97, 'history': 53, 'health': 69}
{'name': 'student46', 'chinese': 63, 'english': 51, 'math': 85, 'history': 64, 'health': 85}
{'name': 'student47', 'chinese': 65, 'english': 59, 'math': 100, 'history': 84, 'health': 86}
{'name': 'student48', 'chinese': 88, 'english': 96, 'math': 74, 'history': 63, 'health': 51}
{'name': 'student49', 'chinese': 72, 'english': 85, 'math': 78, 'history': 57, 'health': 69}
{'name': 'student50', 'chinese': 63, 'english': 76, 'math': 55, 'history': 66, 'health': 57}