In [1]:
#清理資料
import pandas as pd

# Sample DataFrame
data = {'col1': [1, 2, 3, None], 'col2': ['a', 'b', 'c', 'd'], 'col3': [1.1, 2.2, 3.3, 4.4]}
df = pd.DataFrame(data)

df.info()
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col1    3 non-null      float64
 1   col2    4 non-null      object
 2   col3    4 non-null      float64
dtypes: float64(2), object(1)
memory usage: 228.0+ bytes

   col1 col2  col3
0   1.0    a   1.1
1   2.0    b   2.2
2   3.0    c   3.3
3   NaN    d   4.4

In [2]:
df.T

        0    1    2    3
col1  1.0  2.0  3.0  NaN
col2    a    b    c    d
col3  1.1  2.2  3.3  4.4

In [3]:
import pandas as pd
import numpy as np
# 建立一個包含 NaN 的 DataFrame
data = {'col1': [1, 2, np.nan, 4], 
        'col2': ['a', np.nan, 'c', 'd'], 
        'col3': [1.1, 2.2, 3.3, np.nan]}
df = pd.DataFrame(data)

print("原始 DataFrame：")
print(df)

原始 DataFrame：
   col1 col2  col3
0   1.0    a   1.1
1   2.0  NaN   2.2
2   NaN    c   3.3
3   4.0    d   NaN

In [4]:
# 刪除包含任何 NaN 值的列
df_dropped = df.dropna()
print("\n刪除包含任何 NaN 值的列後：")
print(df_dropped)

刪除包含任何 NaN 值的列後：
   col1 col2  col3
0   1.0    a   1.1

In [5]:
# 刪除所有值都是 NaN 的列
df_dropped_all = df.dropna(how='all')
print("\n刪除所有值都是 NaN 的列後：")
print(df_dropped_all)

刪除所有值都是 NaN 的列後：
   col1 col2  col3
0   1.0    a   1.1
1   2.0  NaN   2.2
2   NaN    c   3.3
3   4.0    d   NaN

In [6]:
# 至少要有3個非NaN值才保留
df_dropped_thresh = df.dropna(thresh=3)
print("\n至少要有3個非NaN值才保留：")
print(df_dropped_thresh)

至少要有3個非NaN值才保留：
   col1 col2  col3
0   1.0    a   1.1

In [7]:
# 只在col1和col2檢查Nan
df_dropped_subset = df.dropna(subset=['col1','col2'])
print("\n只在col1和col2檢查Nan：")
print(df_dropped_subset)

只在col1和col2檢查Nan：
   col1 col2  col3
0   1.0    a   1.1
3   4.0    d   NaN

In [8]:
# 直接修改原始 DataFrame
df.dropna(inplace=True)
print("\n直接修改原始 DataFrame：")
print(df)

直接修改原始 DataFrame：
   col1 col2  col3
0   1.0    a   1.1

In [9]:
import pandas as pd
import numpy as np

data = {
    'col1': [1, 2, np.nan, 4, 5],
    'col2': ['a', np.nan, 'c', 'd', 'e'],
    'col3': [1.1, 2.2, 3.3, np.nan, 5.5],
    'col4': [1, 2, 3, 4, np.nan]
}
df = pd.DataFrame(data)
print("原始 DataFrame：")
print(df)

原始 DataFrame：
   col1 col2  col3  col4
0   1.0    a   1.1   1.0
1   2.0  NaN   2.2   2.0
2   NaN    c   3.3   3.0
3   4.0    d   NaN   4.0
4   5.0    e   5.5   NaN

In [10]:
# 刪除包含任何 NaN 值的欄
df_dropped_cols = df.dropna(axis=1)
print("\n刪除包含任何 NaN 值的欄後：")
print(df_dropped_cols)

刪除包含任何 NaN 值的欄後：
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]

In [11]:
# 刪除所有值都是 NaN 的欄
df_dropped_cols_all = df.dropna(axis=1, how='all')
print("\n刪除所有值都是 NaN 的欄後：")
print(df_dropped_cols_all)

刪除所有值都是 NaN 的欄後：
   col1 col2  col3  col4
0   1.0    a   1.1   1.0
1   2.0  NaN   2.2   2.0
2   NaN    c   3.3   3.0
3   4.0    d   NaN   4.0
4   5.0    e   5.5   NaN

In [12]:
# 至少要有3個非NaN值才保留
df_dropped_cols_thresh = df.dropna(axis=1, thresh=3)
print("\n至少要有3個非NaN值才保留：")
print(df_dropped_cols_thresh)

至少要有3個非NaN值才保留：
   col1 col2  col3  col4
0   1.0    a   1.1   1.0
1   2.0  NaN   2.2   2.0
2   NaN    c   3.3   3.0
3   4.0    d   NaN   4.0
4   5.0    e   5.5   NaN

In [13]:
# 直接修改原始 DataFrame
df.dropna(axis=1, inplace=True)
print("\n直接修改原始 DataFrame：")
print(df)

直接修改原始 DataFrame：
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]

In [14]:
import pandas as pd
import numpy as np

# 建立一個包含 NaN 的 DataFrame
data = {
    'col1': [1, 2, np.nan, 4, 5],
    'col2': ['a', np.nan, 'c', 'd', 'e'],
    'col3': [1.1, 2.2, 3.3, np.nan, 5.5],
    'col4': [1, np.nan, 3, 4, 5]
}
df = pd.DataFrame(data)
print("原始 DataFrame：")
print(df)

原始 DataFrame：
   col1 col2  col3  col4
0   1.0    a   1.1   1.0
1   2.0  NaN   2.2   NaN
2   NaN    c   3.3   3.0
3   4.0    d   NaN   4.0
4   5.0    e   5.5   5.0

In [15]:
# 範例 1：刪除任何包含 NaN 的列 (預設行為)
df_dropped_rows = df.dropna()
print("\n刪除包含任何 NaN 的列：")
print(df_dropped_rows)

刪除包含任何 NaN 的列：
   col1 col2  col3  col4
0   1.0    a   1.1   1.0
4   5.0    e   5.5   5.0