In [1]:
import numpy as np
import pandas as pd

df = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
                  'key2':['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randn(5),
                  'data2':np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one  0.027587  0.499152
1    a  two  0.476078 -0.912351
2    b  one -1.498272 -0.472419
3    b  two  0.061664  1.709836
4    a  one  0.570206  1.140146

In [2]:
df1 = df.set_index(keys=['key1','key2'])
df1

              data1     data2
key1 key2
a    one   0.027587  0.499152
     two   0.476078 -0.912351
b    one  -1.498272 -0.472419
     two   0.061664  1.709836
a    one   0.570206  1.140146

In [4]:
df1.unstack('key')

KeyError: 'Level key not found'