In [1]:
import numpy as np
import pandas as pd

df = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
                  'key2':['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randn(5),
                  'data2':np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one  1.169405  0.428499
1    a  two -0.152924  1.730352
2    b  one  0.582111 -1.174037
3    b  two -0.800586  0.290655
4    a  one  0.598747  1.455415

In [3]:
#series的Groupby
grouped=df['data1'].groupby(['台北','台北','台北','台中','台中'])
grouped

In [4]:
grouped.mean()

台中   -0.100919
台北    0.532864
Name: data1, dtype: float64

In [6]:
df['data1'].groupby(df['key2']).mean()

key2
one    0.783421
two   -0.476755
Name: data1, dtype: float64

In [10]:
s1 = df['data1'].groupby([df['key1'],df['key2']]).mean()
s1

key1  key2
a     one     0.884076
      two    -0.152924
b     one     0.582111
      two    -0.800586
Name: data1, dtype: float64

In [ ]:
s1.unstack(level='key1')
#樞紐分析前要先整理資料 見範例 lesson9_2，未整理資料 無法用樞紐分析彙整，但彙整後 見lesson9_3即可以完成指令

key1         a         b
key2
one   0.884076  0.582111
two  -0.152924 -0.800586

In [13]:
df.groupby('key1')['data1'].mean()

key1
a    0.538409
b   -0.109237
Name: data1, dtype: float64

In [ ]:
df.groupby('key1')[['data1','data2']].mean()
#mean() 可以計算多個數字的中位數，如果數字的數量為奇數，則回傳中間的數字，如果是偶數，則回傳中間數字的平均值。https://steam.oxxostudio.tw/category/python/library/statistics.html

         data1     data2
key1
a     0.538409  1.204755
b    -0.109237 -0.441691

In [15]:
df.groupby('key1')[['data1','data2']].sum()

         data1     data2
key1
a     1.615228  3.614266
b    -0.218474 -0.883383